# dados brutos e processados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.zip
*.csv
*.parquet

# python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# so
.DS_Store
